<% User.all.each do |user| %>
  <% unless user == current_user || current_user.friends.include?(user) %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <%= link_to user.name, user_path(user.id) %><br />
          </div>
          <nav class="level">
            <div class="level-left is-mobile">
              <% if FriendRequest.where(user_id: current_user.id, friend_id: user.id).exists? %>
               <%# <%= button_to friend_requests_path(id: user.id), method: :delete, class: "button is-link is-light" do %>
                  <button class= "button is-link is-light">Cancel friend request</button>
                <%#<% end %>
              <% elsif FriendRequest.where(user_id: user.id, friend_id: current_user.id).exists? %>
                <span><%= button_to "Accept", accept_friend_request_path(user.id), method: :post, class: 'button is-primary' %></span>
                <span><%= button_to "Reject", reject_friend_request_path(user.id), method: :post, class: 'button is-danger' %></span>
              <% else %>
                <%= button_to friend_requests_path(friend_id: user.id), method: :post, class: "button is-link is-light" do %>
                  <p>Send friend request</p>
                <% end %>
              <% end %> 
            </div>
          </nav>
        </div>
      </article>
    </div>
  <% end %>  
<% end%>
