<% @posts.each do | post | %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <strong><%= post.user.name %></strong><br />
            <p><%= post.content %></p>
          </div>
            <nav class="level">
              <div class="level-left is-mobile">

                <div class="field is-grouped is-grouped-multiline">
                  <div class="control">
                    <div class="tags has-addons">
                      <span class="tag is-dark">likes</span>
                      <span class="tag is-info"><%= post.likes.count %></span>
                    </div>
                  </div>
                 
                <% if user_signed_in? && current_user.id == post.user_id %>
                  <%= link_to edit_post_path(post), class: "level-item" do %>
                    <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                  <% end %>
                  
                  <%= button_to(post, method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}) do %>
                      <span class="icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
                  <% end %>
                <% end %>  
                <% like = post.likes.find_by user_id: current_user.id %>

                <%= turbo_frame_tag "post_#{post.id}" do %>
                  <% unless like.nil? %>
                    <%= button_to post_like_path(like, post, like: { user_id: current_user.id, post_id: post.id }), method: :delete do %>
                      <span class="icon"><i class="fa-solid fa-heart" *aria-hidden*="true"></i></span>
                    <% end %>
                  <% else %>
                    <%= button_to post_likes_url(post, like: { user_id: current_user.id, post_id: post.id }) do %>
                      <span class="icon"><i class="fa-solid fa-heart" aria-hidden="true"></i></span>
                    <% end %>
                  <% end %>
                 <% end %>  
              </div>
            </nav>
        </div>
      </article>
    </div>
<% end %>