<!DOCTYPE html>
<html>
  <head>
    <title>WeeBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-primary global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
          <h1>WeeBook</h1>
        <% end %>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% if user_signed_in? %>
                <a class="control">
                  <%= link_to current_user.name, edit_user_registration_path, class: "button is-info" %>
                </a>
                <a class="control">
                  <%= link_to "Notifications", "/friend_requests/", class: "button is-info" %>
                </a>
                <a class="control">
                  <%= button_to("Logout", destroy_user_session_path, method: :delete, class:"button is-info") %>
                </a>  
              <% else %>
                <a class="control">
                  <%= link_to 'Sign Up', new_user_registration_path, class: "button is-primary" %>
                </a>
                <a class="control">
                  <%= link_to 'Sign In', new_user_session_path, class: "button is-light" %>
                </a>  
              <% end %>    
            </div>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
